<script>
$(document).ready(function() {
  $("#editor").wysibb()
  $('select').material_select();
})

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
    $(".select-wrapper").addClass("col s2");
  });

function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }
function updateRangeInput(val) {
          document.getElementById('inputRange').value=val; 
        }
function update(id){
    var va = document.getElementById(id).value;
    
    va = parseInt(Math.round(va/5)*5);
    document.getElementById('price').value=va;
    console.log(va);
}

</script>

      <br><br>

<% if @event.errors.any? %>
      <script>

  <% @event.errors.full_messages.each do |message| %>
      
      M.toast({html: '<%= message%>'})
  <%end%>
  </script>
<% end %>

     <%= form_tag url_for(action: "create"), class: "col s12",method: "post" do %>
<div class="row">
            <div class="input-field col s6">
              <%= text_field_tag 'title'%>
                <label for="first_name">Title</label>
            </div>
            <div class="input-field col s6">
              <%= text_field_tag :adress , nil, oninput:"dupdate(this.value)"%>
              <label for="first_name">Adress</label>
            </div>
</div>
<div class="row">
            <div class="input-field col s6 ">
                   <%= select_year(Time.now) %>
                   <%= select_month(Time.now) %>
                   <%= select_day(Time.now) %>
                   <%= select_hour(Time.now) %>
                   <%= select_minute(Time.now) %>
            </div>
            <div class="input-field col s6">
                  <label for="end_date">Duree de l'evenement en minute</label>
                  <%= number_field_tag :duration, nil,step: 5 , onchange: "update(this.id)", id: "price"%>
            </div>
</div>
<div class="row">
            <div class="input-field col s11">

    <p class="range-field">
      <input type="range" id = "inputRange"value="5" min="5" max="1000" step="5" oninput="updateTextInput(this.value);"/>
    </p>
    </div>
                <div class="input-field col s1">
    <%= text_field_tag :price ,"5", id: "textInput", oninput: " updateRangeInput(this.value)" %>
        </div>
    <!DOCTYPE html>
<html>
<body>

    </div>
   
<%= text_area_tag(:editor, nil)%>
      <%= submit_tag "Create event", class:"btn waves-effect waves-light right"%>

</div>

<% end %>
