<script>
$(document).ready(function() {
  $("#editor").wysibb()
})

function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }
</script>

     <%= form_tag url_for(action: "create"), class: "col s12",method: "post" do %>
      <%= submit_tag "Create evenment", class:"btn waves-effect waves-light right"%>
      <br><br>

<div class="row">
            <div class="input-field col s6">
              <%= text_field_tag 'title'%>
                <label for="first_name">Title</label>
            </div>
            <div class="input-field col s6">
              <%= text_field_tag :adress %>
              <label for="first_name">Adress</label>
            </div>
</div>
<div class="row">
            <div class="input-field col s6">
                  <label for="start">Date de debut</label>
                  <%= date_field("start", "date",min: Date.today,placeholder: "")%>
            </div>
            <div class="input-field col s6">
                  <label for="end_date">Duree de l'evenement en minute</label>
                  <%= text_field_tag :duration %>
            </div>
</div>
<div class="row">
            <div class="input-field col s11">

    <p class="range-field">
      <input type="range" value="5" min="5" max="1000" step="5" onchange="updateTextInput(this.value);"/>
    </p>
    </div>
                <div class="input-field col s1">
    <%= text_field_tag :price ,"5", id: "textInput" %>
    </div>
    </div>
    
<%= text_area_tag(:editor, nil)%>
</div>
<% end %>
