




  <div class="row">
    <div class="col s12 ">
    
      <div class="card">
        <div class="card-image">
          <img src="https://i.picsum.photos/id/800/600/200.jpg">
          <span class="card-title"><%= @event.title %></span>
          
          <%if @attend%>
                      <a class="btn-floating halfway-fab waves-effect waves-light  green"><i class="material-icons">check</i></a>
          <% else %>
                      <%= link_to '<i class="material-icons">add</i>'.html_safe, new_event_attendance_path(params[:id]), class: "btn-floating halfway-fab waves-effect waves-light red" %>

          <% end %>
        </div>
        <div class="card-content">
              <h5 >Admin email:<%= @user.email%> </h5>
              <h5 >Attendee:<%= @event.user.count%> </h5>
          <%= raw @content%>
        </div>
          <div class="card-action">
      <a style="color: black;" >Price:<%= @event.price%>$</a>
      <a style="color: black;" >Location:<%= @event.location%></a>
      <a style="color: black;" >Start date:<%= @event.start%></a>
      <a style="color: black;" >End date:<%= @end%></a>
      <a style="color: black;" >Duration: <%= @event.duration%> min</a>

        </div>
      </div>
    </div>
  </div>